@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply transition-colors duration-300;
  }
}

.dark body {
  @apply bg-gray-900 text-white;
}

body {
  overflow-x: hidden;
  @apply bg-white text-gray-900;
}
